<manifest
    package="com.iuriioapps.wearcommon"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <uses-library android:name="com.google.android.wearable" android:required="false" />
    </application>
</manifest>
